/* Error Page  */

.errorPage {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 85vh;
  }
  
  .errorPage p {
    line-height: 0.1;
    font-size: 18px;
  }
  
  .errorPage h1 {
      font-size: 144px;
      letter-spacing: -6px;
      line-height: 0.9;
  }
  .errorPage h2 {
      margin-top: 15px;
  
  }
  
  button.submitBtn {
    float: right;
    padding: 8px 12px;
    margin-top: 25px;
    font-family: "Montserrat", sans-serif;
    border: 2px solid #78788c;
    background: 0;
    color: #5a5a6e;
    cursor: pointer;
    transition: all 0.3s;
    padding: 6px 20px;
    font-size: 20px;
    border-radius: 5px;
    width: 125px;
    height: 42px;
    margin-bottom: 0;
  }
  
  button.submitBtn:hover {
    background: #78788c;
    color: #fff;
  }
  